<div class="dialog-preview--dialog-wrapper" (click)="openDialog()">
  <article class="dialog-preview--dialog" >
    <div class="dialog-preview--image-wrapper">
      <img [src]="conversant?.pictureSrc" class="dialog-preview--image" />
    </div>

    <strong class="dialog-preview--name">{{ conversant?.name }}</strong>

    <div
      class="dialog-preview--message-wrapper"
      [ngClass]="{ 'dialog-preview--message-wrapper_opacity-layer': isUnreadMessage }"
    >
      <p class="dialog-preview--message">
        {{ dialogPreview?.latestMessage?.text }}
      </p>

      <p class="dialog-preview--time">
        {{ dialogPreview?.latestMessage?.displayTime }}
        <span *ngIf="isNewMessage">🔘</span>
      </p>

    </div>

    <button class="dialog-preview--close-button" (click)="deleteDialog($event)">
        ✘
    </button>
  </article>
</div>
