:host {
  display: block;
  margin: 12px 0;

  .message-batch {
    display: flex;
    flex-direction: row;
  }

  .message-batch_reverse {
    flex-direction: row-reverse;
    text-align: right;
  }

  .message-batch--image-wrapper {
    margin: 8px;
  }

  .message-batch--image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .message-batch--messages {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    width: 100%;
  }

  .message-batch--message {
    padding: 8px;
    margin: 0;
  }

  .message-batch--message_opacity-layer {
    background-color: #e9ecf2;
    opacity: 0.5;
    border-radius: 3px;
  }

  .message-batch--delete-button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
}
